# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
.env

# Database
*.db
*.sqlite
*.sqlite3

# Backend uploads
backend/uploads/

# Node
node_modules/
frontend/dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/